// File: resource.rc
#include <windows.h>
#include "resource.h"

IDD_DIALOG1 DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Cautare Fisiere Ascunse"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
EDITTEXT        IDC_EDIT_DIR, 10, 10, 380, 200, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
EDITTEXT        IDC_EDIT_HIDDEN, 10, 220, 380, 40, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
PUSHBUTTON      "Selecteaza Director", IDC_BUTTON_SELECT, 150, 270, 100, 14
END